@CHARSET "UTF-8";
body{
	font-family:  "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.titlename{
	font-weight: bold;
	margin: 0;
	margin-top: 15px;
	padding: 0;
}
table{
	border-collapse: collapse;
}
tr{
	border: solid 1px;
	padding: 0.5em;
}
span{
	font-weight: bold;
}